@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --yellow: #FBFFDC;
  --green: #004028;
  --light-green: #EAF5ED;
  --white: #FFFFFF;
}

body {
  margin: 0;
  background-color: var(--light-green);
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--green);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & h1 {
    text-align: center;
  }
  & em {
    opacity: 0.5;
    margin: 24px 0;
    font-size: 12px;
  }
  & input {
    border: none;
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: calc(100% - 16px);
  }
  & input:focus {
    outline: none !important;
    border: 1px solid var(--green);
  }
  & ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    margin-top: 24px;
    padding: 0;
    width: 100%;
  }
  & li {
    background-color: var(--yellow);
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    padding: 8px;
  }
}