@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --blue: #79E0EE;
  --mint: #98EECC;
  --sage: #D0F5BE;
  --yellow: #FBFFDC;
  --green: #004028;
  --light-green: #EAF5ED;
  --white: #FFFFFF;
}

body {
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--white);
  color: var(--green);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40px;
  & h1 {
    line-height: 1.2;
    text-align: center;
  }
}

header button,
section button {
  background-color: var(--yellow);
  color: var(--green);
  cursor: pointer;
  border: 1px solid var(--green);
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 8px 16px;
  transition: border 0.1s ease;
  &:hover {
    border-left: 2px solid var(--green);
    border-bottom: 2px solid var(--green);
  }
}

.Patterns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
  & section {
    border: 1px dashed var(--green);
    border-radius: 8px;
    padding: 24px;
    & h2 {
      margin: 0;
    }
  }
  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: var(--light-green);
    border-radius: 8px;
    padding: 16px;
    & p,
    & ul {
      margin: 0;
      padding: 0;
    }
  }
  & div:not(:last-child) {
    margin-bottom: 16px;
  }
  & img {
    height: 160px;
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
  }
  & input {
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: calc(100% - 16px);
  }
}

footer p {
  text-align: center;
  margin: 40px 0 0;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
